h2 {
  vertical-align: center;
  text-align: center;
}

:root {
  --black: #0f0f0f;
  --white: #f2f2f2;
  --light-light-grey: #d9d9d9;
  --light-grey: #a4a6a6;
  --red: #cf0210;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: red;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-grey);
  color: var(--light-light-grey);
  height: 10vh;
  padding: 1em 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

a {
  color: var(--black);
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 1s;
  font-weight: 700;
}

li {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 10vh;
  transition: backgro1nd-color 1s;
  border-left: 2px solid var(--light-light-grey);
  width: 20%;
}

ul {
  width: 50vw;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}

li:hover {
  background-color: var(--black);
}

a:hover {
  color: var(--red);
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--white);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.logo {
  font-size: 1em;
  margin-left: 0.7em;
  font-family: "Righteous", cursive;
  color: var(--black);
  border-left: 0.25em solid var(--black);
  border-top: 0.1875em solid var(--white);
  border-radius: 0.8em;
  padding: 0.3em 0.6em;
}

i {
  margin-right: 6px;
}

@media (max-width: 700px) {
  .logo {
    font-size: 0.75em;
  }
  .top-nav {
    padding: 1em;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 10vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid var(--light-grey);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: var(--white);
    background-color: var(--black);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--light-grey);
  }
}

.webgl {
  color: blue;
}
